<section class="visible-md visible-lg">
  <hr>
  <script type="text/javascript">
		window.onload=function starttime(){
        time(h1,"2019/7/19 15:16:13");     // 在一起的时间
        ptimer = setTimeout(starttime,1000); // 添加计时器
    }

    function time(obj,futimg){
        var nowtime = new Date().getTime(); // 现在时间转换为时间戳
        var futruetime =  new Date(futimg).getTime(); // 未来时间转换为时间戳
        var msec = nowtime-futruetime; // 毫秒 未来时间-现在时间
        var time = (msec/1000);  // 毫秒/1000
        var day = parseInt(time/86400); // 天  24*60*60*1000
        var hour = parseInt(time/3600)-24*day;    // 小时 60*60 总小时数-过去的小时数=现在的小时数
        var minute = parseInt(time%3600/60); // 分 -(day*24) 以60秒为一整份 取余 剩下秒数 秒数/60 就是分钟数
        var second = parseInt(time%60);  // 以60秒为一整份 取余 剩下秒数
//              console.log(hour+":"+minute+":"+second)
//              alert(hour)
        obj.innerHTML= "(´･Д･)我已经出生<br>" + day + 
								"天\(//∇//)\<br>(*≧ω≦)" + hour + 
								"小时<br>" + minute + 
								"分∑(ﾟДﾟ)<br>" + second + 
								"秒啦！！！";

        return true;
    }
    </script>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
    <p>{{site.sidebar-about-description}}</p>
	<div id="span_dt_dt"></div>
	<div id="h1">...</div>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>